.superior-container {
    background-color: orange;
    flex-grow: 1;

}

.medio-container {
    background-color: skyblue;
    flex-grow: 2;
}

.inferior-container {
    background-color: hotpink;
    flex-grow: 1;
}

#root {
    min-height: 100vh;
    background-color: green;
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
}

p {
    text-align: end;
    margin-right: 100px;
    font-weight: bold;
}

span {
    background-color: #fafafa;
}